{{- if .Values.zimFiles }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kiwix.fullname" . }}-zim-urls
  labels:
    {{- include "bjw-s.common.lib.metadata.allLabels" $ | nindent 4 }}
data:
  zim-urls.json: |
    {
      "files": [
        {{- range $i, $file := .Values.zimFiles }}
        {{- if $i }},{{ end }}
        {
          "url": {{ $file.url | quote }},
          "sha256": {{ $file.sha256 | default "null" }}
        }
        {{- end }}
      ]
    }
{{- end }}
